In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

In [3]:
# Load the dataset SWD
file_path = "/Users/pace/Desktop/Columbia Bootcamp/Final Project/student_analysis_project/Transformed_Data_Tables/transformed_ethnicities_table.csv"
ethnicity_all_df = pd.read_csv(file_path)
ethnicity_all_df

,DBN,School Name,Cohort Year,Asian # Total Cohort,Asian # Grads,Asian % Grads,Asian # Total Regents,Asian % Total Regents of Cohort,Asian # Advanced Regents,Asian % Advanced Regents of Cohort,...,Native American % Dropout,Multi-Racial # Total Cohort,Multi-Racial # Grads,Multi-Racial % Grads,Multi-Racial # Total Regents,Multi-Racial % Total Regents of Cohort,Multi-Racial # Advanced Regents,Multi-Racial % Advanced Regents of Cohort,Multi-Racial # Dropout,Multi-Racial % Dropout
0,01M292,ORCHARD COLLEGIATE ACADEMY,2017,6.0,6,100,6,100,3,50,...,s,1.0,s,s,s,s,s,s,s,s
1,01M292,ORCHARD COLLEGIATE ACADEMY,2016,7.0,6,85.7,6,85.7,3,42.9,...,NaN,1.0,s,s,s,s,s,s,s,s
2,01M292,ORCHARD COLLEGIATE ACADEMY,2015,3.0,s,s,s,s,s,s,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01M292,ORCHARD COLLEGIATE ACADEMY,2014,3.0,s,s,s,s,s,s,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01M292,ORCHARD COLLEGIATE ACADEMY,2013,9.0,8,88.9,8,88.9,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7184,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7185,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7186,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7187,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7188,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/pace/opt/anaconda3/envs/PythonData/lib/python3.9/site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from sqlalchemy import create_engine

In [13]:
from config import db_password

In [17]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/PS_School_Analysis"

In [18]:
engine = create_engine(db_string)

In [19]:
ethnicity_all_df.to_sql(name='ethnicity_all', con=engine)